:root{
    /* Variables texto  */
    --title: 80pt;
    --subtitle: 22pt;
    --textSize: 13pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: #FFFAEE;
    --color2: #9E7A60;
    --color3: #BE8E72;
    --color4: #597795;
    --color5: #9ABAD3;
    --color6: #EEB06B;
    --color7: #3B4252;
}

/* Fuentes */
@font-face{
    font-family: HYWenHei;
    src: url(../MEDIA/FONTS/hywenhei.ttf); 
}

p{
    font-family: HYWenHei;
    color: var(--color7);
    font-size: var(--textSize);
}

main{
    height: 84vh;
    width: 100vw;
    background-color: var(--color3);
}

html{
    cursor: url(../MEDIA/IMG/Raton.png), auto;
}

a, button{
    cursor: url(../MEDIA/IMG/Raton_pointer.png), auto;
}

/* Menú */
#logo{
    height: 5vh;
    display: flex;
}

#logo a img{
    transition: 0.33s;
}

#menu-cont{
    height: 10vh;
    background-image: linear-gradient(var(--color2), var(--color3));
}

.menu-flex{
    display: flex;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}

.menu-flex li{
    list-style: none !important;
}

.menu-flex button{
    background: none;
    border: none;
    cursor: url(../MEDIA/IMG/Raton_pointer.png), auto;

    transition: 0.33s;
}

.menu-flex button a{
    font-family: HYWenHei;
    text-decoration: none;
    color: var(--color1);

    transition: 0.33s;
}

#menuToggle{
appearance: none;
}

/* Animaciones Menu */
#logo a img:hover{
    transform: scale(1.4);
    
}

#menu-flex div button:hover {
    transform: scale(1.3);
}

#menu-flex div button a:hover{
    text-shadow: 0px 0px 10px var(--color1);
}



/* Chracter Info */
#chsn-chracter{
    height: 87vh;
    width: 100vw;
    background-image: url(../MEDIA/IMG/Fondo.png);
    background-size: 50%;
    background-repeat: repeat;
}

.chsn-chracter-all{
    height: 100%;
    overflow: hidden;
}

#chsn-character-img{
    height: 80vh !important;
    overflow: hidden;
    border-color: var(--color2) !important;
    
}

#chsn-character-img .cardimg{
    object-fit: fill;
}

#chr-namecard{
    height: 10vh;
}

#main-info{
    height: 20vh;
    border-color: var(--color2) !important;
    background-color: var(--color1);
}

#chr-namecard p{
    color: var(--color1);
    font-size: var(--subtitle);
}

.star-rarity{
    color: var(--color1);
}

#chr-namecard .namecard-albedo {
    background-image: url(https://genshin.jmp.blue/characters/albedo/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-bennett {
    background-image: url(https://genshin.jmp.blue/characters/bennett/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-alhaitham {
    background-image: url(https://genshin.jmp.blue/characters/alhaitham/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-aloy {
    background-image: url(https://genshin.jmp.blue/characters/aloy/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-ayato {
    background-image: url(https://genshin.jmp.blue/characters/ayato/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-amber {
    background-image: url(https://genshin.jmp.blue/characters/amber/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-arlecchino {
    background-image: url(https://genshin.jmp.blue/characters/arlecchino/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-arlecchino {
    background-image: url(https://genshin.jmp.blue/characters/arlecchino/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-ayaka {
    background-image: url(https://genshin.jmp.blue/characters/ayaka/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-arataki-itto {
    background-image: url(https://genshin.jmp.blue/characters/arataki-itto/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-baizhu {
    background-image: url(https://genshin.jmp.blue/characters/baizhu/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-barbara {
    background-image: url(https://genshin.jmp.blue/characters/barbara/namecard-background);
    background-size:cover;
    background-position: center;
}

#chr-namecard .namecard-beidou {
    background-image: url(https://genshin.jmp.blue/characters/beidou/namecard-background);
    background-size:cover;
    background-position: center;
}

.card-img-overlay {
    position: absolute;
    top: 50vh;
    right: 50vw;
    padding:0
}

.banner{
    background-image: url(../MEDIA/IMG/banner.png);
    /* background-size:contain; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Media queries */

/* movile */
@media screen and (max-width: 480px) {


    

    /* menu */

    #menu-cont{
        height: auto;
    }

    #div-menu{
        display: none !important;
    }

    #logo{
        padding: 4%;
        justify-content: center !important;
    }

    #logo a img{
        width: 90% !important;
    }

    #logo a img:hover {
    transform: scale(1);
    }

    #menu .menu-flex{
        display: block;
        padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

        width: 10vw !important;
   }

   .btnCloseMenu i{
        font-size: 5vw;
        color: var(--color1);
    }

  #menuToggle:checked ~ .menu-flex{
        max-height: 350px;
    }
    

}

