:root{
    /* Variables texto  */
    --title: 80pt;
    --subtitle: 22pt;
    --textSize: 13pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: #FFFAEE;
    --color2: #9E7A60;
    --color3: #BE8E72;
    --color4: #597795;
    --color5: #9ABAD3;
    --color6: #EEB06B;
    --color7: #3B4252;
}

/* Fuentes */
@font-face{
    font-family: HYWenHei;
    src: url(../MEDIA/FONTS/hywenhei.ttf); 
}

p{
    font-family: HYWenHei;
    color: var(--color7);
    font-size: var(--textSize);
}

*{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
    /* scroll-behavior: smooth; */
}

/* Menú */
#logo{
    height: 5vh;
}

#menu-flex{
    height: 10vh;
    background-image: linear-gradient(var(--color2), var(--color3));
    position: fixed;
    z-index: 100;
}

#menu-flex button{
    background: none;
    border: none;
}

#menu-flex button a{
    font-family: HYWenHei;
    text-decoration: none;
    color: var(--color1);
}

/* Textos */
p{
    font-family: HYWenHei;
}



h1{
    font-family: HYWenHei;
}

/* ImagenPrincipal */
#main-img{
    height: 100vh;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%); */
    width: 100vw;
    scroll-snap-align: start;
    
}

/* Slideshow */
#slideshow{
    scroll-snap-align: center;
    height: 90vh;
}

#slideshowContainer{
    height: 40vh;
}

/* Game Info */
#game-info{
    scroll-snap-align: center;
}

/* Showcase de Pesonajes */
#chr-showcase{
    scroll-snap-align: start;
    height: 90vh;
}

#img-chr-showcase{
    height: 90vh;
}

#btn-chr-showcase{
    height: 10vh;
}

